<h1>Borgor Monch!</h1>
<div class="container">
    <div class="uneaten">
    <h2>Unmonched Borgs:</h2>
    <ul>
        {{#each burgers}}
            {{#unless eaten}}
                {{> burgers/burger-block eaten=false}}
            {{/unless}}
        {{/each}}
    </ul>
    </div>

    <div class="eaten">
        <h2>Been Monched:</h2>
        <ul>
            {{#each burgers}}
                {{#if eaten}}
                    {{> burgers/burger-block eaten=true}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
    <div class="new-burger">
        <form class="make-burger" method="post">
            <div class="form">
            <label for="burg">New Borgor:</label>
            <input type="text" id="borg" name="name">
            </div>
            <div class="form">
                <label for="eaten">Already Monched?</label>
                <input type="radio" name="eaten" value="0">Ain't Monched<br>
                <input type="radio" name="eaten" value="1">Been Monched
            </div>
            <div class="form">
                <button type="submit" id="new-burg">New Borger!</button>
            </div>
        </form>
    </div>
</div>

