<h1>Borgor Monch!</h1>
<div class="container">
    <div class="uneaten">
    <h2>Unmonched Borgs:</h2>
    <ul>
        {{#each burgers}}
        {{#unless eaten}}
        {{> burgers/burger-block eaten=false}}
        {{/unless}}
        {{/each}}
    </ul>
    </div>

    <div class="eaten">
        <h2>Been Monched:</h2>
        <ul>
            {{#each burgers}}
            {{#if eaten}}
            {{> burgers/burger-block eaten=true}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <div class="new-burger">
        <h2>Make A New Borg To Monch!</h2>
        <form class="make-burger">
            <div class="form">
                <label for="burg">New Borgor: </label>
                <input type="text" id="borg" name="name" placeholder="New Borgor Name!">
            </div>
            <div class="form">
                <button type="submit" id="new-burg">New Borger!</button>
            </div>
        </form>
    </div>
</div>

